@charset "utf-8";
/* CSS Document */

.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        /*padding: 16px;*/
        border: 8px solid #EEE;
	box-shadow:5px;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
    .popup-area{
      height:100%;
      width:100%;
      display:block;
    }
    .popup-Content{
       height:88%;
    }
    .popup-top-menu{
    
      height:12%;
      background-color:#EEE;
    }

