/*********************************************************************
* Author: Benard Koech
* Email: benardkkoech@gmail.com.
* Gender Base violence Information system
* Development 22 January 2015
***********************************************************************/
.DatePickerSec {
                font-family: Verdana;
		
            }

            .DatePickerSec h1 {
                font-size: 25px;
            }

            .calendar-icon {
                display: inline-block;
                vertical-align: middle;
                width: 32px;
                height: 32px;
                background: url(../../css/datepicker/calendar.png);
            }

           .DatePickerSec  input {
                border: 1px solid #aaa;
                padding: 5px;
                width: 100px;
            }
             
            .alignleft {
	        width:50%
	        float:left;
	       
	           }
             .alignright {
	       
	        width:50%
	        float:left;
	        }
             