

/*Form Wrapper*/
.login_wrapper
{
	width:480px;
	margin-top: 40px;
	border: solid 1px #cbcbcb;
	 background-color: #FFF;
	 box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	padding:10px;
	padding-left:20px;
	padding-right:20px;
	
	font-family: LiberationSansRegular,sans-serif;
line-height: 125%;
overflow: hidden;
	font-size:11pt;
}
.labelsDiv{
text-align:left; 
width:145px; 
padding-top:10px;
float:left;
}
.inputsDiv{
text-align:left; 
width:300px;
float:left;
}

/*Input Boxes Style*/
.textInputs {min-width:260px; width:auto;height:20px;font-family:Verdana, Geneva, sans-serif; font-size:12px;padding:7px; padding-left:10px; padding-right:10px;border: 1px solid #6CF;outline:none;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius:2px; line-height:20px;}
.textInputs:focus {outline:none;border: 1px solid #6CF;box-shadow: 0 0 10px #6AB5FF;-moz-box-shadow: 0 0 10px #6AB5FF;-webkit-box-shadow: 0 0 10px #6AB5FF;}


/*Error Message Style*/
.info { border: 1px solid #999; padding:12px 20px 12px 20px; font: bold 12px verdana;-moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;text-shadow: 2px 2px 2px #ccc;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;font-family:Verdana, Geneva, sans-serif; font-size:11px; line-height:20px;font-weight:normal;color: black;background: #BDE5F8;}


/*login Button*/
.login_button 
{
width:38%;
 background-color: #E5C93A;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5C93A), color-stop(100%, #E5C93A));
  background-image: -webkit-linear-gradient(top, #E5C93A, #E5C93A);
  background-image: -moz-linear-gradient(top, #E5C93A, #E5C93A);
  background-image: -ms-linear-gradient(top, #E5C93A, #E5C93A);
  background-image: -o-linear-gradient(top, #E5C93A, #E5C93A);
  background-image: linear-gradient(top, #E5C93A, #E5C93A);
  border: 2px solid #E5C93A;box-shadow: 0 2px 3px #81519C;-moz-box-shadow: 0 2px 3px #81519C;-webkit-box-shadow: 0 2px 3px #81519C;
  -webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
  color: #fff;
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  min-width: 70px;
  width: auto;
  padding:9px;
  padding-left:13px; padding-right:13px;padding-bottom:7px;
  text-decoration:none;
  float:left;
}
.login_button:hover 
{
    background-color: #81519C;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #81519C), color-stop(100%, #81519C));
    background-image: -webkit-linear-gradient(top, #81519C, #81519C);
    background-image: -moz-linear-gradient(top, #81519C, #81519C);
    background-image: -ms-linear-gradient(top, #81519C, #81519C);
    background-image: -o-linear-gradient(top, #81519C, #81519C);
    background-image: linear-gradient(top, #81519C, #81519C);
   border: 2px solid #81519C;box-shadow: 0 2px 3px #81519C;-moz-box-shadow: 0 2px 3px #81519C;-webkit-box-shadow: 0 2px 3px #81519C;
	-moz-box-shadow: 0 2px 3px #81519C;
	-webkit-box-shadow: 0 2px 3px #81519C;
	-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
    cursor: pointer; 
}