/*********************************************************************
* Author: Benard Koech
* Email: benardkkoech@gmail.com.
* Gender Base violence Information system
* Development 22 January 2015
***********************************************************************/


#gbvis_footer {
    text-align: center;
    height:10%;
    background: none repeat scroll 0% 0% #3E1F60;
    width:100%;
    min-height:68px;
	
}
.gbvis_footer-left{
width:44%;
float:left;

}
.gbvis_footer-center{
width:30%;
float:left;

}
.gbvis_footer-right{
width:25%;
float:left;

}